

.image-gallery {
    display: flex;
    max-width: 50%; /* 限制宽度 */
    max-height:50%; /* 限制高度 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    border: 1px solid #ccc; /* 可选：添加边框 */
    flex-wrap: wrap;
    gap: 10px;
}

.modal-image-container {
    display: flex;
    background-color: #fff;
    max-width: 100%; /* 限制宽度 */
    max-height: 100%; /* 限制高度 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    border: 1px solid #ccc; /* 可选：添加边框 */

}

.modal-image {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width:400px; /* 自定义宽度 */
    height: 600px; /* 自定义高度 */
    border: 1px solid #ccc; /* 可选：添加边框 */

}


.image-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    max-width: 50%; /* 图片最大宽度为容器宽度 */
    max-height: 50%; /* 图片最大高度为容器高度 */
    border: 1px solid #ccc; /* 可选：添加边框 */
}

.image-container img {
    max-width: 100%; /* 图片最大宽度为容器宽度 */
    max-height: 100%; /* 图片最大高度为容器高度 */
}


.carousel-container {
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}


.centered-div {
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 100%; /* 设置宽度为100% */
    height: 100vh; /* 设置高度为100vh，以占满整个视口 */
}
