

.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 10px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #555;
}


.header {
    text-align: right;
    padding-right: 20px;
}

.avatar {
    cursor: pointer;
}

.popover-content {
    padding: 16px;
    text-align: center;
}

.logout-button {
    background-color: #f5222d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #ff4d4f;
}

.logout-button > .anticon {
    margin-right: 4px;
}
